# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Config files
config/
*.ini
*.toml
*.yaml
*.yml

# Data files
data/
result/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/

# IDE specific
.idea/
.vscode/
